<!DOCTYPE html>
<html>
<head>
  <title>Blog - Tạo bài viết mới</title>
  <link rel="stylesheet" href="/css/new.css">
</head>
<body>
  <h1>Tạo bài viết mới</h1>
  <form action="/blog/new" method="POST">
    <label for="title">Tiêu đề:</label>
    <input type="text" name="title" required><br>
    <label for="content">Nội dung:</label>
    <textarea name="content" required></textarea><br>
    <button type="submit">Tạo bài viết</button>
  </form>
  <a href="/blog/index">Quay lại danh sách bài viết</a>
  {{> footer}}
</body>
</html>
